.cabecalho{
    background-color: lightblue;
    min-height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: arial;
    font-size: 25px;
    
}
.no_margin{
    margin: 0;

}
.fundoimagem{
    display: flex;
    background-image: url(loboolhando.png);
    background-size: cover;
    align-items: center;
    background-repeat: no-repeat;
    height: 45vw;
    width: 100%;
    text-align: center;
    
}

.sublinhado{
    display: flex;
    flex-direction:column;
}
.cima-baixo{
    padding-top: 1%;
    padding: auto;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    
}
.branco{
    display:flex;
    color: white;
    text-align: center;
    flex-direction:column;
}
.tam20{
    font-size: 30px;
    overflow:hidden;
    margin-right: 110px;
    margin-left: 110px;
    margin-bottom: 60px;
    
}
.tam10{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 60px;
    margin-top: 0px;   
}
h1{
    font-size: 70px;
    display: flex;
    flex-direction:column;
    margin-top: 300px;
}
h1:hover::after{
    transition: 4s;
    content: "";
    height: 8px;
    width: 100%;
    background-color: white;
}

.sublinhado:hover::after{
    transition: 4s;
    content: "";
    height: 4px;
    width: 100%;
    background-color: black;
    
}
.item3{
    flex-direction: column;
    display: flex;
    background-color:rgb(44,86,127);
    justify-content: center;
    align-items: center;
    min-height: 300px;
    
}
h2{
    font-size: 40px;
    color:gold;
}

.item4{
    background-color: rgb(51,51,51);
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction : column;
    width: 100%;
    
}
.item5{
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    width: 100%;}

figure div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
figure img {
    
    width: 150px;
    height: 150px;
}
.deladin{
    display: flex;
    justify-content:space-between ;
    width: 100%;
}
.ultimo{
    display: flex;
    background-color:rgb(51,51,51)   ;
}
.footer{
    background-color: rgb(51,51,51);
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
}
.alinhado {
    color: white;
    display:flex;
    min-width: 100%;
    justify-content: space-between;
    text-align: center;
}
.caracteristicas{
    display: flex;
    text-align: center;
    flex-direction: column;
}
div div p {
    text-align:unset;
}
.cim{
    display: flex;
    
    flex-direction: column;
}
#pe{
    display: flex;

}
footer div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.item6{
    display: flex;
}
h4{
    color: black;
    font-weight: bold;
}
.item6-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}